
@font-face{
  font-family: 'Galano Grotesque Regular';
  src: url('../src/fonts/galanogrotesque-regular.otf');
}
@font-face{
  font-family: 'Galano Grotesque Medium';
  src: url('../src/fonts/galanogrotesque-medium.otf');
}
@font-face{
  font-family: 'Galano Grotesque Semibold';
  src: url('../src/fonts/galanogrotesque-semibold.otf');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
