.main-nav {
  height: 300px;
  background: #146EB4;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-size: 100vw 100%;

}

.main-nav__logo{
  display: block;
  width: 156px;
  height: 44px;
  left: 10%;
  top: 32px;
  position: fixed;
  cursor: pointer;
}

.main-nav-info{
  right: 10%;
  position: fixed;
  top: 32px;
}

.main-nav-signin{
  color: #fff;
  text-decoration: none;
  padding: 1.5rem;
  font-family: 'Galano Grotesque Regular';
}
.main-nav-for-pc{
    text-decoration: none;
    background: #fff;
    color: #146EB4;
    padding: 1rem;
    font-family: 'Galano Grotesque Medium';
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;

}